.form_container {
	// margin-top: 8rem;
	// padding: 10rem 15rem;
	// background-color: var(--color-primary-light);
	// border-radius: 40% 0 0 40%;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// @include respond(tab-port) {
	// 	padding: 8rem 10rem;
	// 	border-radius: 0;
	// }
	grid-column: 2/-1;

	display: grid;
	grid-template-columns: minmax(min-content, 1fr);
	grid-auto-rows: min-content;
	justify-items: center;
	align-content: center;
	padding-top: 5rem;
}

.feild_container {
	.entry {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 0.5rem 0;
		&_feild {
			display: flex;
			//align-items: center;
			flex-direction: column-reverse;
			//flex-direction: row-reverse;
			//flex-direction: row;
			//flex-direction: column;
			gap: 1rem;
			&-input {
				display: block;
				font-size: 1.7rem;
				font-family: inherit;
				color: black;
				padding: 0.3rem 1rem;
				box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
				border-radius: 3px;
				border: none;
				border-bottom: 3px solid transparent;
				transition: border-bottom 0.3s ease;
				&:focus {
					outline: none;
					border-bottom: 3px solid var(--color-blue-light);
					&:invalid {
						border-bottom: 3px solid var(--color-blue-dark);
					}
				}

				&::-webkit-input-placeholder {
					letter-spacing: 2px;
					font-size: 1.4rem;
					font-weight: 400;
					color: rgba(53, 4, 4, 0.507);
				}
			}
			&-label {
				display: block;
				font-family: Cinzel, sans-serif;
				align-self: start;
				letter-spacing: 1px;
			}
		}

		&_tooltip {
			position: absolute;
		}
	}
}

.input_tooltip-wrapper {
	position: relative;
}

.msg-container {
	height: 1.5rem;
	font-size: 1.4rem;
	text-align: start;
	font-weight: 500;
	color: rgba(241, 43, 43, 0.877);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// .form {
// 	&_group-input {
// 		position: relative;
// 		display: flex;
// 		flex-direction: column-reverse;
// 	}
// 	&_group:not(:last-child) {
// 		margin-bottom: 1rem;
// 	}
// 	&_input {
// 		font-size: 1.6rem;
// 		font-family: inherit;
// 		color: black;
// 		padding: 0.8rem 1rem;
// 		box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
// 		border-radius: 0.5rem;
// 		border: none;
// 		border-bottom: 3px solid transparent;
// 		display: block;
// 		transition: border-bottom 0.3s ease;
// 		&:focus {
// 			outline: none;
// 			border-bottom: 3px solid var(--color-blue-light);
// 			&:invalid {
// 				border-bottom: 3px solid var(--color-blue-dark);
// 			}
// 		}

// 		&::-webkit-input-placeholder {
// 			text-transform: capitalize;
// 			font-weight: 400;
// 			color: rgba(53, 4, 4, 0.507);
// 		}
// 	}

// 	&_input:focus:invalid + &_label {
// 		color: red;
// 	}

// 	&_label {
// 		font-size: 1.2rem;
// 		font-weight: 400;
// 		margin: 0.8rem 1rem;
// 		text-transform: capitalize;
// 		display: block;
// 		transition: all 0.3s ease;
// 	}

// 	&_input:placeholder-shown + &_label {
// 		opacity: 0;
// 		visibility: hidden;
// 		transform: translateY(4rem);
// 	}
// }

.dropdown {
	cursor: pointer;
	margin-top: 1rem;
	padding: 1rem 8rem 1rem 2rem;
	width: 100%;
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 500;
	border: 0;
	box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
	background-color: pink;
	&:focus {
		outline: none;
	}
}

.form_radio {
	margin: 0 1rem 0 1rem;
	cursor: pointer;
}
.form_radio-label {
	text-transform: capitalize;
}

.form_btn {
	font-size: 1.6rem;
	font-family: inherit;
	font-weight: 500;
	display: inline-block;
	text-transform: capitalize;
	border: none;
	outline: none;
	padding: 0.7rem 2rem;
	background-color: pink;
	border-radius: 3px;
	color: inherit;
	cursor: pointer;
	box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
}
