//importing font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
//global level css variables
:root {
	--color-primary-light: #e1e8ed;
	--color-primary-dark: #ccd6dd;
	--color-dark-1: #292f33;
	--color-dark-2: #292f33;
	--color-blue-light: #55acee;
	--color-blue-dark: #3b5998;

	--font-primary: 1.6rem;
}
//global rest
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
//over writting default settings from browser
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: var(--font-primary);
	font-family: Poppins, sans-serif;
	line-height: 1.2;
	color: var(--color-dark-1);
	background: linear-gradient(to right, #1d2b64, #f8cdda);
}
